<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Details</title>
    <link rel="stylesheet" href="css/EventDescription.css">

</head>

<body>
    <header>
        <div class="navbar">
            <div class="nav-title">
                <h2 style="color:white">EventRiders</h2>
            </div>
            <div class="nav-links">
                <a href="Events.html">Home</a>
                <a href="UserEvent.html">Your Events</a>
                <a href="Userbookings.html">Your Bookings</a>
            </div>
            <a class="logout" onclick="LogOut()">Logout</a>
        </div>
    </header>
    <div class="container">
        <div class="header">
            <img id="eventimage" alt="Event Image">
        </div>
        <div class="content">
            <div class="main-content">
                <div class="event-details">
                    <h1 id="eventname"></h1>
                    <p><strong>Date & Time:</strong> <span id="datetime"></span></p>
                    <p><strong>Location:</strong> <span id="location"></span></p>
                </div>
                <div class="event-description">
                    <h2>Session Objective:</h2>
                    <p id="description"></p>
                </div>
                <div class="seat-selector">
                    <button id="minusBtn" onclick="updateSeatCount(-1)">-</button>
                    <span id="seatCount">1</span>
                    <button id="plusBtn" onclick="updateSeatCount(1)">+</button>
                    <span id="totalamount" style="padding-left:10px"></span>
                </div>
                <button id="BookBtn" class="book-button" onclick="BookEvent()">Book</button>
                <button id="UpdateBtn" class="Update-button" onclick="UpdateEvent()" hidden>Update</button>
            </div>
            <div class="sidebar">
                <div class="info">
                    <h2>Hosted by:</h2>
                    <p id="hostedby"></p>
                </div>
                <div class="info">
                    <h2>Seats Left:</h2>
                    <p id="seats"></p>
                </div>
                <div class="info">
                    <h2>Location:</h2>
                    <div class="map">
                        <iframe id="address" src="" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div><br />
                    <p id="address_text"></p>
                </div>
            </div>
        </div>
    </div>
    <script>

        const eventid = JSON.parse(localStorage.getItem('eventid'));
        const token = localStorage.getItem('jwtToken');
        const userid = localStorage.getItem('id');
        var eventData = {};
        let seatCount = 1;

        GetEventDescription();

        function GetEventDescription() {
            fetch(`http://192.168.1.83:8080/events?eventid=${eventid}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
            })
                .then(response => {
                    if (response.status === 401) {
                        alert("Unauthorized!!");
                        window.location.href = 'Login.html';
                        return;
                    } else if (!response.ok) {
                        return response.json().then(data => {
                            throw new Error(data.message);
                        });
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Success:', data[0]);
                    eventData = data[0];
                    document.getElementById("eventname").textContent = eventData.name;
                    document.getElementById("datetime").textContent = `${eventData.date} at ${eventData.time}`;
                    document.getElementById("location").textContent = eventData.city;
                    document.getElementById("address_text").textContent = eventData.address;
                    document.getElementById("description").innerHTML = eventData.description.replace(/\n/g, '<br>');
                    document.getElementById("address").src = "https://maps.google.com/maps?q=" + eventData.address + "&t=&z=13&ie=UTF8&iwloc=&output=embed";
                    document.getElementById("eventimage").src = "../" + eventData.image;
                    document.getElementById("seats").textContent = Number(eventData.max_seat) - Number(eventData.enrolled_count);
                    document.getElementById("totalamount").textContent = eventData.fees + " ₹";
                    if (Number(eventData.max_seat) - Number(eventData.enrolled_count) == 0) {
                        document.getElementById("BookBtn").disabled = true
                        document.getElementById("plusBtn").disabled = true;
                        document.getElementById("minusBtn").disabled = true;
                        document.getElementById("BookBtn").textContent = "Fully Booked";
                        document.getElementById("seats").textContent = "Full";
                    }
                    if (userid == eventData.creator_id) {
                        document.getElementById("UpdateBtn").hidden = false;
                    }
                    HostedBy();
                })
                .catch((error) => {
                    console.error('Error:', error);
                    alert(`Event Fetch failed: ${error.message}`);
                });
        }

        function HostedBy() {

            fetch(`http://192.168.1.83:8080/user?id=${eventData.creator_id}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
            })
                .then(response => {
                    if (response.status === 401) {
                        alert("Unauthorized!!");
                        window.location.href = 'Login.html';
                        return;
                    } else if (!response.ok) {
                        return response.json().then(data => {
                            throw new Error(data.message);
                        });
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Success:', data);
                    document.getElementById("hostedby").textContent = data["name"];
                })
                .catch((error) => {
                    console.error('Error:', error);
                    alert(`Event Fetch failed: ${error.message}`);
                });

        }

        function updateSeatCount(change) {
            const maxSeats = Number(eventData.max_seat) - Number(eventData.enrolled_count);
            seatCount = Math.max(1, Math.min(seatCount + change, maxSeats));
            document.getElementById("seatCount").textContent = seatCount;
            document.getElementById("plusBtn").disabled = seatCount >= maxSeats;
            document.getElementById("minusBtn").disabled = seatCount <= 1;
            document.getElementById("totalamount").textContent = (eventData.fees * seatCount) + " ₹";
        }

        function BookEvent() {
            const data = {
                userid: localStorage.getItem('id'),
                eventid: eventData.eventid,
                seats: seatCount
            };

            fetch('http://192.168.1.83:8080/bookevent', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
                body: JSON.stringify(data)
            })
                .then(response => {
                    if (!response.ok) {
                        return response.json().then(data => { throw new Error(data.message); });
                    } else if (response.code == 401) {
                        window.location.href = 'login.html';
                    }
                    return response.json();
                })
                .then(data => {
                    alert(data.message);
                })
                .catch((error) => {
                    alert(`Booking Event failed: ${error.message}`);
                });
        }

        function UpdateEvent() {
            localStorage.setItem('UpdateData', JSON.stringify(eventData));
            window.location.href = `UpdateEvent.html`;
        }

        function LogOut() {
            localStorage.removeItem('jwtToken');
            localStorage.removeItem('id');
            alert("Logged Out Successfully");
            window.location.href = "Login.html";
        }

    </script>
</body>

</html>
