<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="css/Events.css">

</head>
<body>
    <header>
        <div class="navbar">
            <div class="nav-title">
                <h2>EventRiders</h2>
            </div>
            <div class="nav-links">
                <a href="">Home</a>
                <a href="UserEvent.html">Your Events</a>
                <a href="Userbookings.html">Your Bookings</a>
            </div>
            <a class="logout" onclick="LogOut()">Logout</a>
        </div>
    </header>
    <main>
        <div class="filter-container">
            <input type="text" id="searchField" placeholder="Search by name" oninput="searchByName()" />
            <select id="typeDropdown" onchange="filterByType()">
                <option value="">Select Type</option>
                <option value="Business">Business</option>
                <option value="Music">Music</option>
                <option value="Parties">Parties</option>
                <option value="Festival">Festival</</option>
                <option value="Art">Art</option>
                <option value="Dance">Dance</option>
                <option value="Health">Health</option>
                <option value="Workshop">Workshop</option>
                <option value="Performance">Performance</option>
                <option value="Theatre">Theatre</option>
                <option value="Sports">Sports</option>
                <option value="Technology">Technology</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div class="events-container" id="eventsContainer"></div>
    </main>

    <script>
        const token = localStorage.getItem('jwtToken');

        function fetchEvents(url) {
            fetch(url, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
            })
                .then(response => {
                    if (response.status === 401) {
                        alert("Unauthorized!!");
                        window.location.href = 'Login.html';
                        return;
                    } else if (!response.ok) {
                        return response.json().then(data => {
                            throw new Error(data.message);
                        });
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Success:', data);
                    displayEvents(data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                    alert(`Event Fetch failed: ${error.message}`);
                });
        }

        function displayEvents(events) {
            const eventsContainer = document.getElementById('eventsContainer');
            eventsContainer.innerHTML = '';
            events.forEach(event => {
                const card = createEventCard(event);
                eventsContainer.appendChild(card);
            });
        }

        function createEventCard(event) {
            const card = document.createElement('div');
            card.onclick = () => EventDescription(event);
            card.classList.add('event-card');

            const eventImage = document.createElement('img');
            eventImage.classList.add('event-image');
            eventImage.src = `../${event.image}`;
            card.appendChild(eventImage);

            const eventContent = document.createElement('div');
            eventContent.classList.add('event-content');
            card.appendChild(eventContent);

            const name = document.createElement('h2');
            name.textContent = event.name;
            eventContent.appendChild(name);

            const city = document.createElement('p');
            city.classList.add('event-city');
            city.textContent = event.city;
            eventContent.appendChild(city);

            const date = document.createElement('p');
            date.classList.add('event-date');
            date.textContent = event.date;
            eventContent.appendChild(date);

            const fees = document.createElement('p');
            fees.classList.add('event-fees');
            fees.textContent = `₹${event.fees}`;
            eventContent.appendChild(fees);

            return card;
        }

        function searchByName() {
            const searchField = document.getElementById('searchField').value;
            const url = `http://192.168.1.83:8080/events?search=${searchField}`;
            fetchEvents(url);
        }

        function filterByType() {
            const typeDropdown = document.getElementById('typeDropdown').value;
            const url = `http://192.168.1.83:8080/events?type=${typeDropdown}`;
            fetchEvents(url);
        }

        function EventDescription(eventData) {
            
            localStorage.setItem("eventid", JSON.stringify(eventData.eventid));
            window.location.href = "EventDescription.html";
        }

        fetchEvents('http://192.168.1.83:8080/events');

        function LogOut() {
            localStorage.removeItem('jwtToken');
            localStorage.removeItem('id');
            alert("Logged Out Successfully");
            window.location.href = "Login.html";
        }

    </script>
</body>
</html>

