<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="css/Login.css">

</head>
<body>
    <div class="form-container">
        <h2>Login Form</h2>
        <form id="loginForm">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <button type="submit">Login</button>
            </div>
        </form>
        <div>
            <h5>New to EventRider? <a href="Register.html">Register</a></h5>
        </div>
    </div>
    <script>
        document.getElementById('loginForm').addEventListener('submit', function (event) {
            event.preventDefault();

            const formData = new FormData(event.target);
            const data = {};

            formData.forEach((value, key) => {
                data[key] = value;
            });

            fetch('http://192.168.1.83:8080/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => {
                    if (!response.ok) {
                        return response.json().then(data => { throw new Error(data.message); });
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Success:', data);
                    alert(data.message);
                    localStorage.setItem('jwtToken', data.token);
                    localStorage.setItem('id', data.id);
                    window.location.href = 'Events.html';
                })
                .catch((error) => {
                    console.error('Error:', error);
                    alert(`Login failed: ${error.message}`);
                });
        });

    </script>
</body>
</html>
