<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Event</title>
    <link rel="stylesheet" href="css/UpdateEvent.css">
</head>
<body>
    <div class="form-container">
        <h2>Update an Event</h2>
        <form id="updateevent">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>

            <div class="form-group">
                <label for="type">Type:</label>
                <select id="type" name="type" required>
                    <option value="">Select Type</option>
                    <option value="Business">Business</option>
                    <option value="Music">Music</option>
                    <option value="Parties">Parties</option>
                    <option value="Festival">Festival</option>
                    <option value="Art">Art</option>
                    <option value="Dance">Dance</option>
                    <option value="Health">Health</option>
                    <option value="Workshop">Workshop</option>
                    <option value="Performance">Performance</option>
                    <option value="Theatre">Theatre</option>
                    <option value="Sports">Sports</option>
                    <option value="Technology">Technology</option>
                    <option value="Other">Other</option>
                </select>
            </div>

            <div class="form-group">
                <label for="address">Event Address:</label>
                <input type="text" id="address" name="address" required>
            </div>

            <div class="form-group">
                <label for="city">Event City:</label>
                <input type="text" id="city" name="city" required>
            </div>

            <div class="form-group">
                <label for="fees">Fees:</label>
                <input type="number" id="fees" name="fees" required>
            </div>

            <div class="form-group">
                <label for="max_seat">Max Seats:</label>
                <input type="number" id="max_seat" name="max_seat" required>
            </div>

            <div class="form-group">
                <label for="date">Date:</label>
                <input type="date" id="date" name="date" required>
            </div>

            <div class="form-group">
                <label for="time">Time:</label>
                <input type="time" id="time" name="time" required>
            </div>

            <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="description" name="description" rows="3"></textarea>
            </div>

            <div class="form-group">
                <button type="submit">Update</button>
            </div>
        </form>
    </div>
    <script>
        const eventData = JSON.parse(localStorage.getItem('UpdateData'));

        document.getElementById("name").value = eventData.name;
        document.getElementById("city").value = eventData.city;
        document.getElementById("address").value = eventData.address;
        document.getElementById("type").value = eventData.type;
        document.getElementById("fees").value = eventData.fees;
        document.getElementById("max_seat").value = eventData.max_seat;
        document.getElementById("date").value = eventData.date;
        document.getElementById("time").value = eventData.time;
        document.getElementById("description").value = eventData.description;

        document.getElementById('updateevent').addEventListener('submit', function (event) {
            event.preventDefault();
            const formData = new FormData(event.target);
            const data = {};

            formData.forEach((value, key) => {
                data[key] = value;
            });

            data["eventid"] = eventData.eventid.toString();

            const token = localStorage.getItem('jwtToken');

            fetch('http://192.168.1.83:8080/events', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
                body: JSON.stringify(data)
            })
                .then(response => {
                    if (response.status === 401) {
                        alert("Unauthorized!!");
                        window.location.href = 'Login.html';
                        return;
                    } else if (!response.ok) {
                        return response.json().then(data => {
                            throw new Error(data.message);
                        });
                    }
                    window.location.href = 'UserEvent.html';
                    return response.json();
                })
                .then(data => {
                    alert("Event Updated Successfully");
                    localStorage.removeItem('UpdateData');
                })
                .catch((error) => {
                    console.error('Error:', error);
                    localStorage.removeItem('UpdateData');
                });
        });
    </script>
</body>
</html>
