<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Bookings</title>
    <link rel="stylesheet" href="css/UserBookings.css">
</head>

<body>
    <header>
        <div class="navbar">
            <div class="nav-title">
                <h2>EventRiders</h2>
            </div>
            <div class="nav-links">
                <a href="Events.html">Home</a>
                <a href="UserEvent.html">Your Events</a>
                <a href="Userbookings.html">Your Bookings</a>
            </div>
            <a class="logout" onclick="LogOut()">Logout</a>
        </div>
    </header>
    <div class="container">
        <div class="header">
            <h1>User Bookings</h1>
        </div>
        <table class="bookings-table">
            <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Location</th>
                    <th>Seats</th>
                    <th>Amount Paid</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody id="bookingsBody">
            </tbody>
        </table>
    </div>

    <script>
        const userId = localStorage.getItem('id');
        const token = localStorage.getItem('jwtToken');

        fetch(`http://192.168.1.83:8080/bookings?userid=${userId}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${token}`
            },
        })
            .then(response => {
                if (response.status === 401) {
                    alert("Unauthorized!!");
                    window.location.href = 'Login.html';
                    return;
                } else if (!response.ok) {
                    return response.json().then(data => {
                        throw new Error(data.message);
                    });
                }
                return response.json();
            })
            .then(data => {
                console.log('Success:', data);
                const bookingsBody = document.getElementById('bookingsBody');
                data.forEach(booking => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${booking.eventName}</td>
                        <td>${booking.date}</td>
                        <td>${booking.time}</td>
                        <td>${booking.location}</td>
                        <td>${booking.seats}</td>
                        <td>${booking.seats * booking.fees} ₹</td>
                        <td><button id="detailbtn" onclick = "EventDescription(${booking.event_id})">Details</button></td>
                    `;
                    bookingsBody.appendChild(row);
                });
            })
            .catch((error) => {
                console.error('Error:', error);
                alert(`Booking Fetch failed: ${error.message}`);
            });

        function EventDescription(id) {
            localStorage.setItem("eventid", id);
            window.location.href = "EventDescription.html"
        }

        function LogOut() {
            localStorage.removeItem('jwtToken');
            localStorage.removeItem('id');
            alert("Logged Out Successfully");
            window.location.href = "Login.html";
        }

    </script>
</body>

</html>
